In [26]:
import pandas as pd
import numpy as np
import sklearn

In [10]:
train=pd.read_csv(r"C:\Users\VARNIKA\Desktop\Realestate.csv")

In [11]:
train

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [16]:
from sklearn.model_selection import train_test_split
x=train.drop('Y house price of unit area', axis=1)
y=train['Y house price of unit area']
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [18]:
from sklearn.linear_model import LinearRegression
linearreg=LinearRegression()
linearreg.fit(xtrain,ytrain)

LinearRegression()

In [21]:
ypred=linearreg.predict(xtest)
print(predy)

[42.48710413  0.25417747 54.81617588 53.88076273 33.66617799 45.44574433
 25.3667099  42.53712166  7.76468449 40.30019958 42.04853393 54.51243676
 46.92797507 40.35552214 45.37251278 36.034713   32.45457832 43.78993461
 29.06633337 40.39193375 48.43575196 45.54028105 39.86607416 46.62449487
 13.33831748 33.3839127  11.86900385 46.78603162 43.41035123 47.71061419
 34.45801921  8.29456158 40.94621554 48.88060658 30.68695521 41.07938823
 47.27976813 34.15480706 45.38849863 37.50571112 46.97543417 47.89236475
 36.64240432 37.92705389 47.98349534 49.25733383 49.18527417 31.23929228
 38.44634684 44.14034641 31.58361581 44.62806449 33.64307585 44.22355104
 35.79184037 14.62393091 48.42212779 48.17720009 35.78207343 15.06554887
 34.56918125 35.4419845  31.81595705 31.57361188 32.9476283  39.48100739
 14.74191212 28.55417582 19.26831621 46.34304348 40.83658619 33.25022102
 44.96302099 35.10303378 41.00840386 38.08716389 34.10893505 42.94233006
 41.83956942 52.03510633 43.83681833 34.16753568 47.48529054]

In [22]:
from sklearn.metrics import r2_score
r2_score(ytest,ypred)

0.6812144293105425

In [29]:
from sklearn import metrics
mse=metrics.mean_squared_error(ytest,ypred)
rmse=np.sqrt(mse)
rmse

7.052065917422594